body{
  margin-top:20px;
  background:#DCDCDC;
}
.container {
  padding: 15px 20px 15px 20px;
  font-size: 1.2em;
  line-height: 1.9em;
}
.user-position {
  position: absolute;
  top: 0;
  border-left: 1px solid #dee2e6;
  bottom: 0;
  width: 44px;
  text-align: center;
  right: 0;
  left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

.user-position span {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.avatar-md {
  height: 3.5rem;
  width: 3.5rem;
}
