.navbar{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 14vh;
}
.navbar-up{
  display: flex;
  padding: 1em 0 1em 0;
  height: 100%;
  text-align: left;
  letter-spacing: 0px;
  justify-content: center;
  text-align: left;
  font: normal normal bold 20px/27px Segoe UI;
  letter-spacing: 0px;
}
.navbar-down{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #C0C0C0 0% 0% no-repeat padding-box;
  box-shadow: 7px 3px 7px #00000029;
  border: 1px solid #808080;
}
ul{
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
li{
  margin: 1em;
  text-align: left;
  font: normal normal bold 20px/27px Segoe UI;
  letter-spacing: 0px;
}
a{
  text-decoration: none;
  color: black;
}
